/* Stylesheet */

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #1F2937;
    color: #E5e7eb;
    
}

.top{
    display:flex;
    justify-content: center;
    background-color: #1F2937;
    color: #E5e7eb;
    padding-top: 30px;
    padding-bottom: 60px;
}

.logo{
    margin: 0;
    color: #f9faf8;
    font-size: 24px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis:500px;
    margin-right: 10%;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

a{
    margin-left: 20px;
    color: #E5e7eb;
    text-decoration: none;
}

a:hover{
    font-size: 150%;
}


.top-title{
    font-size: 48px;
    font-weight: bolder;
    height: auto;
    padding: 0;
    margin-bottom: 0;
}

.top-text{
    font-size: 24px;
    color: #f9faf8;
    text-align: left;
    margin-top: 0;
    margin-right: 0;
}

button{
    background-color: #3882f6;
    border: none;
    border-radius: 10px;
    color: #E5e7eb;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.mid1{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

h3{
    color: #1F2937;
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
}

.header-image{
    height: auto;
    width: 500px;
    border: none;
    background-color: #1F2937;
    margin: 0px;
}

img{
    height: 200px;
    width: 300px;
    border: 5px solid #3882f6;
    border-radius: 10px;
    background-color: #E5e7eb;
}

.mid2{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5e7eb;
    padding: 50px;
}

.quote{
    height: auto;
    width: 500px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.quote-sig{
    width:400px;
    text-align: right;
}

.mid3{
    
}

p{

}
.footer{
    text-align: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5e7eb;
}

h6{

}

figure{

}

.figure1{
    margin:0;
}
figcaption{
    font-size: 10px;
}